<mat-form-field appearance="fill" class="dropdown">
  <mat-label>Item categories</mat-label>
  <mat-select [(ngModel)]="selectedCategory">
    <mat-option [value]="">All items</mat-option>
    <mat-option *ngFor="let item of items | unique" [value]="item.category">
      {{item.category}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button (click)="onSendToDb()">Send all items to Database</button>
<br>
<div class="admin-item-list">
  <div *ngFor="let item of items |
   categoryFilter:selectedCategory;
    let i = index " 
    class="item" 
    [class.inactive]="!item.visible" 
    (click)="onInactive(i)">
    <p>{{ item.title }}</p> 
    <p>{{ item.price }}</p>
    <button [routerLink]='["/edit",i]'>{{'Edit'}}</button>
  </div>
</div>

