#categories {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
}

.category {
    margin: 15px 5px;
    padding: 15px;
    border-radius: 5px;
    background: #f5f6fa;
}

.category img {
    height: 150px;
    width: 250px;
}

.category:hover {
    box-shadow: 0 8px 17px 0 rgb(199, 193, 193);
}

.category:hover, 
.category img:hover {
    cursor: pointer;
    transition: 0.6s;
}

.category-image{

}

.category-description {

}