<div id="categories">
    <div class="category" routerLink="/work">
        <img src="\assets\work.jpg" class="category-image">
            <p class="category-description">
                Click here to see my previous works
            </p>
    </div>
    <div class="category" routerLink="/hobbies">
        <img src="\assets\hobby.jpg" class="category-image">
            <p class="category-description">
                Click here to see my hobbies
            </p>
    </div>
    <div class="category" routerLink="/courses">
        <img src="\assets\courses.jpg" class="category-image">
            <p class="category-description">
                Click here to see my additional courses
            </p>
    </div>
</div>