*{
  color: #2E3138;
  text-align: center;
  margin-top: 15px;
}

.empty-the-cart{
  background-color: crimson;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 8%;
  outline: none;
}

.empty-the-cart:hover{
  transition: 0.5s;
  background-color: rgb(216, 102, 125);
}
