*{
  color: #2E3138;
  text-align: center;
  margin-top: 15px;
}

.spacer {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
}

.empty-the-cart{
  background-color: crimson;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 8%;
  outline: none;
}

.empty-the-cart:hover{
  transition: 0.5s;
  background-color: rgb(216, 102, 125);
}

.cart-item{
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgb(201, 190, 190);
}

.cart-item img {
  width: 200px;
  height: 200px;
}

.no-items{
  text-align: center;
  margin: 20% 45% !important;
  font-size: 2em;
}

.cell {
  flex-basis: 300px;
  padding: 100px !important;
  padding-top: 1% !important;
  text-align: center;
}

.cell-price {
  padding-top: 5%;
  font-size: 1.2em !important;
}

.remove-button{
  cursor: pointer;
  height: 35px !important;
  width: 35px !important;
  padding-top: 10%;
  padding-left: 10%;
}

.remove-button:hover {
  opacity: 0.5;
  transition: 400ms;
  cursor: pointer;
}