*{
  color: #2E3138;
}

.cart-items {
  text-align: center;
}

.empty-the-cart{
  background-color: crimson;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 8%;
  outline: none;
  margin-top: 3%;
  float: right;
}

.empty-the-cart:hover{
  transition: 0.5s;
  background-color: rgb(216, 102, 125);
}

.cart-sum{
  float: right;
  margin-top: 7%;
}