@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {
    @include flexCenter(column, rgb(202, 160, 83));
    height: 100vh;
    color: $textColor;
    background: lightblue;
    button{
        background: $primaryBtn;
        &:hover {
            background: orange;
        }
        &::after {
            content: "Helloooooo";
        }
    }
}