<form #catInputForm="ngForm" (ngSubmit)="onSubmitform(catInputForm)">
    <label>Kassi tõug:</label><br>
    <input ngModel name="breed" type="text" required><br>
    <label>Kassi nimi:</label><br>
    <input ngModel name="name" type="text" required><br>
    <label>Kassi pilt:</label><br>
    <input ngModel name="picture" type="url" required><br><br>
  
    <button [disabled]="!catInputForm.valid" type="submit" class="cats" >Vajuta mind</button>
  </form>
  
  <br>

  <div *ngIf="cats.length == 0"> <i> Kasse ei ole genereeritud</i></div>
  <div *ngFor="let cat of cats; let i = index">
    <b>
    {{ cat.breed | lowercase }}
    </b> 
    {{ cat.name | uppercase }}
    <br>
   <img [routerLink]="['item', cat.breed, cat.name]" src="{{ cat.picture }}" class="picture"> 
    <button (click)="onDeleteCat(i)">X</button>
  </div>
  
  <br><br>
  
  
  <button class="generate" (click)="onGenerate()">Generate random numbers</button>
  
  <br><br>
  
  <div *ngIf="randomNumbers.length == 0"> <i> Numbreid ei ole genereeritud</i></div>
  <div *ngFor="let randomNumber of randomNumbers; let i = index"[routerLink]="['number',i, randomNumber]">
  {{i+1}} Generated number:  {{ randomNumber }}
  <button (click)="onDelete(i)">X</button>
  </div>
  