/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');


*{
  color: #93B7BE;
  font-family: 'Cabin', sans-serif;
}

*:focus{
  outline: none;
}

body{
  background-color: #F1FFFA;
}