/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');


*{
  color: #E0E1DD;
  font-family: 'Cabin', sans-serif;
}

*:focus{
  outline: none;
}

body{
  background-color: #F1FFFA;
}

button{
  color: #1e272e;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
