<div class="menu">
  <img src="assets\logo.png" routerLink="/">
  <app-header></app-header>
  <div>
    <div class="menu-link" routerLink="login">Login/Sign up</div>
    <div class="menu-link" routerLink="cart">
      <span *ngIf="cartItemsCount > 0" class="cart-items-count">{{ cartItemsCount }}</span>
      Cart
    </div>
    <div>
      <span class="lang-button" (click)="useLanguage('en')">en</span>
      <span class="lang-button" (click)="useLanguage('ee')">ee</span>
    </div>
  </div>
</div>